# CPSC 331
/CPSC331/hw4/nbproject/
/CPSC331/hw4/build/
/CPSC331/hw4/dist/
/CPSC331/hw4/build/
# CPSC 355
/CPSC\ 355/A1/CPSC355_A1_ThomasNewton.zip 

/CPSC331/hw4/hw4.zip
/CPSC 355/A4/CPSC355_A4_ThomasNewton.zip
/CPSC 355/A3/CPSC355_A3_ThomasNewton.zip
/CPSC 355/A2/CPSC355_A2_ThomasNewton.zip
/CPSC 355/A5/.metadata/.mylyn/repositories.xml.zip
/CPSC 355/A5/CPSC355_A5_ThomasNewton.zip
/CPSC 355/A6/CPSC355_A6_ThomasNewton.zip
/CPSC 355/A1/CPSC355_A1_ThomasNewton.zip
